# Specify code owners for the entire repository
*	@AlignmentResearch/robust-llm

# Exclude the experiments/ directory
experiments/

# Exclude the robust_llm/hydra_conf/experiment directory
robust_llm/hydra_conf/experiment/

# Exclude the robust_llm/plotting_utils/experiments directory
robust_llm/plotting_utils/experiments
